.card{
    margin-top: 170px;
    text-align: center;
    padding-bottom: 50px;
}
#btn{
    background-color: blueviolet;
    border-radius: 20px;
}
span{
        font-size: 20px;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }